{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>{{ title }}</title>


  <!-- bootstrap file -->
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />


  <!-- message here -->

  {% if messages %}
  {% for message in messages %}

  <script>
    alert("{{ message }}");
  </script>

  {% endfor %}
  {% endif %}

  <!--_______________________________________________-->



</head>

<body class="container-fluid">


  <header class="row">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

          <a class="navbar-brand" href="{% url 'index' %}">Project</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="navbar-nav ml-auto">
            <li><a href="{% url 'index' %}">Home</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
 Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'register' %}"><i class="fa fa-user" aria-hidden="true"></i>
Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>
 Log in</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br/>
  <br>
  <br>
  <div class="row justify-content-center">
    {% block start %}
    {% if user.is_authenticated %}
    <p>Welcome back {{ user.username }}!</p>
    {% else %}
    <h1 class="display">Welcome to our Website!</h1>

    {% endif %}
    {% endblock %}
  </div>
      </div>
  </div>
</body>

</html>
